<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Supplier</title>
</head>
<body>
<h1>Edit Supplier</h1>
<form th:action="@{/suppliers/edit/{id}(id=${supplier.id})}" method="post">
    <input type="hidden" name="_method" value="put" />
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:value="${supplier.name}" required />
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
<a th:href="@{/suppliers}">Back to list</a>
</body>
</html>
