<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Items</title>
</head>
<body>
<h1>Items</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Variants</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.name}">Item Name</td>
        <td>
            <ul>
                <li th:each="variant : ${item.variants}">
                    <span th:text="${variant.name}">Variant Name</span>
                    -
                    <span th:text="${variant.price}">Variant Price</span>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
