<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Receipts</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h2>Receipts</h2>
<a th:href="@{/receipts/new}">Create New Receipt</a>
<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Month</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="receipt : ${receipts}">
        <td th:text="${receipt.date}">Receipt Date</td>
        <td th:text="${receipt.month}">Receipt Month</td>
        <td>
            <a th:href="@{/receipts/edit/{id}(id=${receipt.id})}">Edit</a>
            <a th:href="@{/receipts/delete/{id}(id=${receipt.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
