<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Suppliers</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h2>Suppliers</h2>
<a th:href="@{/suppliers/new}">Create New Supplier</a>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="supplier : ${suppliers}">
        <td th:text="${supplier.name}">Supplier Name</td>
        <td>
            <a th:href="@{/suppliers/edit/{id}(id=${supplier.id})}">Edit</a>
            <a th:href="@{/suppliers/delete/{id}(id=${supplier.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
