<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stock Details</title>
</head>
<body>
<h1>Stock Details</h1>
<table border="1">
    <thead>
    <tr>
        <th>Item Name</th>
        <th>Variants</th>
        <th>Original Quantity</th>
        <th>Inventory Quantity</th>
        <th>Difference</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${itemsWithTotalQuantity}">
        <td th:text="${entry.key.name}">Item Name</td>
        <td>
            <table>
                <thead>
                <tr>
                    <th>Variant Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="variant : ${entry.key.variants}">
                    <td th:text="${variant.name}">Variant Name</td>
                    <td th:text="${variant.description}">Description</td>
                    <td th:text="${variant.price}">Price</td>
                    <td th:text="${variant.quantity}">Quantity</td>
                </tr>
                </tbody>
            </table>
        </td>
        <td th:text="${entry.value}">Original Quantity</td>
        <td th:text="${entry.key.inventoryQuantity}">Inventory Quantity</td>
        <td th:text="${entry.key.difference}">Difference</td>
    </tr>
    </tbody>
</table>
</body>
</html>
